 <h1> Welcome! </h1>

 <%= link_to "Sign up", signup_path %>

<br><br>

<%= link_to "Log in", login_path %>

<br><br>

<%= link_to("Log in with Facebook!", '/auth/facebook', method: :post) %>

<%# <%= link_to "Sign in Through Facebook", '/auth/facebook', method: :POST %>

