<h1> All Doctors </h1>

 <% @doctors.each do |doctor| %>
    <li>
        <%= link_to doctor.name, doctor_path(doctor) %>
        <%= doctor.location %>
        specialty: <%= doctor.specialty %> -
    </li>
<% end %>